# SERIES

# CREATING SERIES

## Importing Pandas Library

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Creating empty series

In [5]:
empty = pd.Series([])
empty

Series([], dtype: float64)

## Creating Series with values

In [6]:
Series1 = pd.Series([1,2,3,4])
Series1

0    1
1    2
2    3
3    4
dtype: int64

## Creating Series with index number

In [7]:
series2 = pd.Series([1,2,3,4], 
                    index = ['a','b','c','d'])
series2

a    1
b    2
c    3
d    4
dtype: int64

## Creating Series with predefine the data type float

In [8]:
series3 = pd.Series([1,2,3,4], 
                    index = ['a','b','c','d'], 
                    dtype = float)
series3

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

## Creating Series with predefine the data type string

In [18]:
series4 = pd.Series([1,2,3,4], 
                    index = ['a','b','c','d'], 
                    dtype = 'S')
series4

a    b'1'
b    b'2'
c    b'3'
d    b'4'
dtype: bytes8

## Creating Series with giving name of the Series

In [19]:
series5 = pd.Series([1,2,3,4], 
                    index = ['a','b','c','d'],
                    dtype = 'float', 
                    name = 'data values')
series5

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

# CREATING LIST AND CONVERT INTO SERIES

## Creating List

In [20]:
list_s = [1,2,-3,6.2,'data values']
print(list_s)

[1, 2, -3, 6.2, 'data values']

## Converting list into series

In [21]:
series1 = pd.Series(list_s)
print(series1)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

## Checking the type of the above Series

In [22]:
type(series1)
#This is a series type

pandas.core.series.Series

# CREATING SERIES THROUGH SCALAR VALUES

## Creating scalar series

In [23]:
scalar_s = pd.Series(0.5)
scalar_s

0    0.5
dtype: float64

## Creating scalar series with index

In [24]:
scalar_s = pd.Series(0.5, index = [1,2,3])
scalar_s

1    0.5
2    0.5
3    0.5
dtype: float64

## CREATING SERIES THROUGH DICTIONARY

## Creating Series through dictionary

In [25]:
dict_s = pd.Series({'a':1,
                   'b':2,
                   'c':3,
                   'd':4})
dict_s

a    1
b    2
c    3
d    4
dtype: int64