In [1]:
#Importing library
import pandas as pd

In [2]:
#Creating series
s1 = pd.Series([1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
s1

0      1
1      2
2      3
3      4
4      5
5      7
6      8
7      9
8     10
9     11
10    12
11    13
12    14
13    15
14    16
15    17
16    18
17    19
18    20
dtype: int64

# MIN AND MAX

In [3]:
#Finding minimum value from the series
min(s1)

1

In [4]:
#Finding maximum value from the series
max(s1)

20

# CONDITIONAL OPERATOR

In [8]:
#Finding values from the list who's value greater than 10
s1[s1>10]

9     11
10    12
11    13
12    14
13    15
14    16
15    17
16    18
17    19
18    20
dtype: int64

In [10]:
#Creating series
s2 = pd.Series([21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40])
s2

0     21
1     22
2     23
3     24
4     25
5     26
6     27
7     28
8     29
9     30
10    31
11    32
12    33
13    34
14    35
15    36
16    37
17    38
18    39
19    40
dtype: int64

# MATHEMETICAL OPERATION WITH SERIES

In [11]:
#Addition of series s1 and s2
s1 + s2

0     22.0
1     24.0
2     26.0
3     28.0
4     30.0
5     33.0
6     35.0
7     37.0
8     39.0
9     41.0
10    43.0
11    45.0
12    47.0
13    49.0
14    51.0
15    53.0
16    55.0
17    57.0
18    59.0
19     NaN
dtype: float64

In [12]:
#Subtraction of series s1 and s2
s1 - s2

0    -20.0
1    -20.0
2    -20.0
3    -20.0
4    -20.0
5    -19.0
6    -19.0
7    -19.0
8    -19.0
9    -19.0
10   -19.0
11   -19.0
12   -19.0
13   -19.0
14   -19.0
15   -19.0
16   -19.0
17   -19.0
18   -19.0
19     NaN
dtype: float64

In [13]:
#Multiplication of series s1 and s2
s1 * s2

0      21.0
1      44.0
2      69.0
3      96.0
4     125.0
5     182.0
6     216.0
7     252.0
8     290.0
9     330.0
10    372.0
11    416.0
12    462.0
13    510.0
14    560.0
15    612.0
16    666.0
17    722.0
18    780.0
19      NaN
dtype: float64

In [14]:
#Division of series s1 and s2
s1 / s2

0     0.047619
1     0.090909
2     0.130435
3     0.166667
4     0.200000
5     0.269231
6     0.296296
7     0.321429
8     0.344828
9     0.366667
10    0.387097
11    0.406250
12    0.424242
13    0.441176
14    0.457143
15    0.472222
16    0.486486
17    0.500000
18    0.512821
19         NaN
dtype: float64

In [15]:
#Creating series
s3 = pd.Series([1,2,3,4,4,5,8,7,4,5,9])
s3

0     1
1     2
2     3
3     4
4     4
5     5
6     8
7     7
8     4
9     5
10    9
dtype: int64

In [16]:
#Addition of s1 & s3
s1 + s3

0      2.0
1      4.0
2      6.0
3      8.0
4      9.0
5     12.0
6     16.0
7     16.0
8     14.0
9     16.0
10    21.0
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
dtype: float64

#Series is handling missing values as well