What is Data Frame ?
DataFrame is a two dimensional, size mutable, potentially heterogeneous tabular data structure with labeled axes(rows and columns)

In [1]:
#Importing pandas
import pandas as pd

In [2]:
#Creating empty data frame
emp = pd.DataFrame()
print(emp)

Empty DataFrame
Columns: []
Index: []

In [3]:
#Creating data frame with values
emp1 = pd.DataFrame(['a','b','c','d','e','f','g'])
print(emp1)

   0
0  a
1  b
2  c
3  d
4  e
5  f
6  g

In [4]:
#Creating data frame throuhg 2 dimensional list 
emp2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
emp2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
#Creating data frame throuhg 3 dimensional list 
emp2 = pd.DataFrame([[[1,2,3],[4,5,6],[7,8,9]]])
emp2

           0          1          2
0  [1, 2, 3]  [4, 5, 6]  [7, 8, 9]

In [8]:
#Creating Data Frame through dictionary
emp3 = pd.DataFrame({'ID':[1,2,3,4,5,6,7,8,9,10],
                    'Name':["Ajay", "Vijay", "Sunil","Rohan","Amit","Vikas","Vicky","Naresh","Suresh","Sunny"]})
emp3

   ID    Name
0   1    Ajay
1   2   Vijay
2   3   Sunil
3   4   Rohan
4   5    Amit
5   6   Vikas
6   7   Vicky
7   8  Naresh
8   9  Suresh
9  10   Sunny